{% extends 'main/index.html' %}
{% block title %}О школе{% endblock %}
{% block content %}


<div style='padding: 120px var(--padding--) 120px var(--padding--);cursor: default;'>
   <h3>О школе</h3>
   <p style="    
   color: rgba(20, 16, 36, 0.70);
   font-size: 16px;
   font-weight: 500;
   padding-top: 20px;
   padding-right: 20px;">ROBO.SHOOL - платформа, специализирующаяся на предоставлении курсов по робототехнике и программированию. Этот сайт предлагает уникальную возможность изучить основы робототехники и научиться программировать различных типов роботов.<br><br>

      Сайт ROBO.SHOOL обладает рядом преимуществ, делающих его привлекательным для людей различных возрастных групп и уровней осведомленности в области робототехники и программирования.<br><br> 
      
      Во-первых, ROBO.SHOOL предлагает широкий выбор курсов, охватывающих различные аспекты робототехники и программирования. От основных курсов, направленных на начинающих, до более продвинутых, предлагающих углубленное изучение темы. Это позволяет пользователям выбирать программу обучения, которая наиболее подходит их уровню навыков и интересам.<br><br>
      
      Во-вторых, ROBO.SHOOL предлагает интерактивный и практический подход к обучению. Курсы на платформе основаны на действительных проектах и позволяют ученикам непосредственно применять свои знания на практике. Это позволяет лучше усвоить материал и научиться решать реальные проблемы в области робототехники и программирования.<br><br>
      
      В-третьих, ROBO.SHOOL предлагает возможность обучения в команде. Платформа предоставляет социальный компонент, позволяющий учащимся работать вместе, обмениваться опытом и помогать друг другу в процессе обучения. Это способствует развитию коллективных навыков и обмену знаниями с другими участниками.<br><br>
      
      ROBO.SHOOL также предоставляет гибкие варианты обучения. Вы можете выбрать удобное для вас время и темп обучения, что позволяет индивидуализировать процесс обучения в соответствии с вашими потребностями и графиком.<br><br>
      
      Более того, ROBO.SHOOL имеет оценочную систему, которая позволяет отслеживать прогресс в обучении и получать обратную связь от преподавателей. Это помогает учащимся понимать свои сильные и слабые стороны и настраиваться на дальнейшее улучшение.<br><br>
      
      ROBO.SHOOL - это идеальное место для тех, кто хочет освоить робототехнику и программирование. С его разнообразными курсами, интерактивным подходом к обучению и возможностью обучения в команде, ROBO.SHOOL предлагает всестороннюю платформу для развития навыков и достижения успехов в области робототехники и программирования. <br><br>Присоединяйтесь к ROBO.SHOOL уже сегодня и откройте для себя фантастический мир робототехники!</p>
</div>
{% endblock %}