{% extends 'main/index.html' %}
{% block title %}Стоимость{% endblock %}
{% block content %}
<div class="pakegs">
   <div class="title-bonus">Выберите нужный пакет</div>
      <div class="card-pakegs-center" style="display: flex;">
         <div class="card-pak">
            <h3>– PRO –</h3>
            <h1>20.000 ₽</h1>
            <p>УМК по робототетхнике <br>и программированию</p>
            <button><a href="#">Оставить заявку</a></button>
         </div>

         <div class="card-pak">
            <h3>– ROBO –</h3>
            <h1>15.000 ₽</h1>
            <p>УМК по робототетхнике </p>
            <button><a href="#">Оставить заявку</a></button>
         </div>

         <div class="card-pak">
            <h3>– PROG –</h3>
            <h1>10.000 ₽</h1>
            <p>УМК по программированию</p>
            <button><a href="#">Оставить заявку</a></button>
         </div>
      </div>
   </div>
</div>
{% endblock %}